.body{
    grid-area:body;
  
    //Titulo sección
  
      &__h2{
        display:flex;
        flex-direction:row;
        justify-content: center;
        padding:6%;
      }
  
      //Galería de Productos

      .gallery{
        display:grid;
        grid-template-columns:2fr,2fr;
        grid-template-rows:2fr,2fr;
        grid-template-areas: "a b c "
                            "d e f";
        grid-column-gap:0;
        grid-row-gap:8vh;
        justify-content:space-around;
        justify-items:center;
        height:100vh;
        margin-bottom:6%;
        margin-left:6%;
        margin-right:6%;
        margin-top:0;
        overflow:auto;
        font-weight:bold;
        color:ghostwhite;
      
  
  
          &__item1{
            background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.12), rgba(0, 0, 0, 0.62)), url("../assets/img.png");
            height:240px;
            width:200px;
            grid-area:a;
            display:flex;
            flex-direction:column;
            align-items:center;
            border-radius:1rem;
            background-size:cover;
            padding-top:100%;
          }
  
  
          &__item2{
            background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.12), rgba(0, 0, 0, 0.62)), url("../assets/img.png");
            height:240px;
            width:200px;
            grid-area:b;
            display:flex;
            flex-direction:column;
            align-items:center;
            border-radius:1rem;
            background-size:cover;
            padding-top:100%;
          }
  
          &__item3{
            background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.12), rgba(0, 0, 0, 0.62)), url("../assets/img.png");
            height:240px;
            width:200px;
            grid-area:c;
            display:flex;
            flex-direction:column;
            align-items:center;
            border-radius:1rem;
            background-size:cover;
            padding-top:100%;
          }
  
          &__item4{
            background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.12), rgba(0, 0, 0, 0.62)), url("../assets/img.png");
            height:240px;
            width:200px;
            grid-area:d;
            display:flex;
            flex-direction:column;
            align-items:center;
            border-radius:1rem;
            background-size:cover;
            padding-top:100%;
          }
  
          &__item5{
            background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.12), rgba(0, 0, 0, 0.62)), url("../assets/img.png");
            height:240px;
            width:200px;
            grid-area:e;
            display:flex;
            flex-direction:column;
            align-items:center;
            border-radius:1rem;
            background-size:cover;
            padding-top:100%;
          }
  
          &__item6{
            background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.12), rgba(0, 0, 0, 0.62)), url("../assets/img.png");
            height:240px;
            width:200px;
            grid-area:f;
            display:flex;
            flex-direction:column;
            align-items:center;
            border-radius:1rem;
            background-size:cover;
            padding-top:100%;
          }
        }
  }

  @media screen and (max-width:424px) {

    .gallery{
        grid-template-columns:100%;
        grid-template-rows: repeat(6,auto);
        grid-template-areas:"a"
        "b" 
        "c" 
        "d" 
        "e" 
        "f";
    }
  }
  
  @media screen and (min-width:425px) and (max-width:768px) {

    .gallery{
        grid-template-columns:100%;
        grid-template-rows: repeat(6,auto);
        grid-template-areas:"a"
        "b" 
        "c" 
        "d" 
        "e" 
        "f";
    }
  
  }
