@import "variables";
@import "animaciones";
@import "media";

/*PRODUCTOS SECTION*/

/*filtros productos*/

.aside{
  background-color:$bglight;

  &__h3{
  display:flex;
  justify-content:center;
  padding:1rem;
  padding-top:2rem;
  }

  &__Row{
      justify-self:center;
      justify-content:center;
      justify-items:center;
      display:flex;
  }

  &__title{
      display:block;
      font-weight:600;
  }
  &__item{
      display:block;
      padding:0.5rem;
  }
  &__col{
      padding-left:6rem;
      padding-bottom:0;
      padding-top:0;
  }
}


/*Estilos Product Gallery*/
.containerfluid{
  background-color:lightgray;
  height:100%;
}

.productos-gallerySection{
  margin-bottom:0rem !important;
}

/*gallery rows*/
.gallerySection{
  height:55vh;
  justify-content: center;
  margin-bottom:6rem;
}

.col-sm-4{
  width:16em;
}

/*body gallery*/
.bodySection{
  background-color:$bglight;
  padding-bottom:2rem;
}

.productosSection{
  height:240vh;
}



.gallery__title{
  display:flex;
  padding-top:2rem;
  padding-bottom:1rem;
  justify-content: center;
  font-weight:600;
}

/*galeria de productos*/
.gallery__div{
  display:flex;
  flex-direction:column;
  height:100%;
  width:100%;
  padding-top:1.5rem;
  padding-bottom:1.5rem;
  position:relative;
  transition:transform 1.2s;

  &:hover{
      transform:translate(0.8rem,-0.8rem);
  }

  &--link{
  height:80%;
  width:80%;
  z-index:10;
  position:absolute;
  }
  &--a{
      text-decoration:none;
      color:ghostwhite;
      font-weight:bold;
      font-size: 1.1rem;
      align-self:flex-end;
      padding-bottom:1.5rem;
  }
  &--a{
      background-image:linear-gradient(rgba(255, 255, 255, 0),rgba(0, 0, 0, 0.637));
      height:100%;
      width:100%;
      border-radius:1rem;
      display:flex;
      justify-content:center;
      align-content:center;
      align-items:center;
      opacity:0;
      z-index:10;
      color:ghostwhite;

      &:hover{
      opacity:100;
      color:white;
      font-size:1.8rem;
      text-shadow:5px $dark;
      }
  }

  /*caption*/
  &--caption{
  display:flex;
  justify-content:center;
  font-size:1.2rem;
  font-weight:700;
  color:$dark;

  &:hover{
          color:rgb(100, 100, 100);
      }

  &-price{
  display:flex;
  justify-content:center;
  font-size:1.2rem;
  }    

}

    &--img{
        background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.12)), url("../assets/productos6.jpg");
        height:100%;
        width:100%;
        background-size:cover;
        border-radius:1rem;
        box-shadow:-5px 5px 8px grey;
        display:flex;
        justify-content: center;
        position:static;
        animation-name:galleryEffect;
        animation-duration:2.5s;
        animation-timing-function: ease-in;
        animation-delay:1s;

    &:hover{
        box-shadow:rgb(82, 82, 82);
    }

    &2{
        @extend .gallery__div--img;
        background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.12)), url("../assets/productos1.jpg");
    }
    &3{
        @extend .gallery__div--img;
        background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.12)), url("../assets/productos2.jpg");
    }
    &4{
        background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.12)), url("../assets/prods7.jpg");
        @extend .gallery__div--img;
    }
    &5{
        background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.12)), url("../assets/prods8.jpg");
        @extend .gallery__div--img;
    }
    &6{
        background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.12)), url("../assets/prods9.jpg");
        @extend .gallery__div--img;
    }
    &7{
        background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.12)), url("../assets/prods10.jpg");
        @extend .gallery__div--img;
    }
    &8{
        background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.12)), url("../assets/prods11.jpg");
        @extend .gallery__div--img;
    }
    &9{
        background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.12)), url("../assets/prods12.jpg");
        @extend .gallery__div--img;
    }

    &10{
        background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.12)), url("../assets/prods4.jpg");
        @extend .gallery__div--img;
    }
    &11{
        background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.12)), url("../assets/prods5.jpg");
        @extend .gallery__div--img;
    }
    &12{
        background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.12)), url("../assets/prods6.jpg");
        @extend .gallery__div--img;
    }
}
}

.info{
    margin-top:2rem;
  }
  
  .infoRow{
    display:flex;
    height:20vh;
    justify-items:center;
    justify-content:center;
    align-items:center;
    font-weight:bold;
    font-size:1rem;
    margin-bottom:2rem;
    background-color:$bglight;
  
    &__pago{
    display:flex;
    justify-content:center;
    justify-items:center;
  }
    &__envio{
    display:flex;
    justify-content:center;
    justify-items:center;
  }
  
}