@import "variables";

.header{
  height:10vh;
}


/*nav*/
.navbar{
  background-color:$dark !important;
  font-family:"Outfit", sans-serif !important;
  &-brand{
  font-style:italic;
  font-weight:bolder;
  font-size:1.6rem;
  }
}