@import "variables";
@import "animaciones";
/*Hero Section*/

.heroSection{
  height:80vh;
  background-image: linear-gradient(rgba(255, 255, 255, 0),rgba(0, 0, 0, 0.705)),url("../assets/opcionbyw4.jpg");
  overflow:hidden;
  background-size:cover;
  background-attachment: fixed;
  animation-name:heroSection__effect;
  animation-duration:1s;

  &__div{
  display:flex;
  height:100%;
  align-content:flex-end;
  padding-bottom:3vh;
  margin-left:1.5rem; 
  }

  &__title{
  font-size: 4.5rem;
  font-weight:bolder;
  font-style:italic;
  color:ghostwhite;
  align-self:baseline;
  animation-name:effect;
      animation-duration:2.5s;
      animation-timing-function: ease-in;
      animation-delay:0;
  transition:transform 0.5s;
  }

  &__subtitle{
      font-size: 1rem;
      font-weight:600;
      color:ghostwhite;
      padding-left:1.1rem;
      animation-name:effect;
          animation-duration:2.5s;
          animation-timing-function: ease-in;
          animation-delay:0;
  }
}

