@import "variables.scss";
@import "media.scss";

.hero__section{
    background-color:gray;
    background-image:linear-gradient(to bottom, rgba(245, 245, 245, 0.10), rgba(0, 0, 0, 0.86)), url("../assets/bgimage.jpg");
    background-size:cover;
    background-repeat: no-repeat;
    height:90vh;
    width:100%;
    color:$title--lg;
    padding:4rem;
    border:60px;
    grid-area:hero__section;

  
      .hero__h1{
        font-size:6rem;
        font-weight:600;
        margin-top:13rem;
        animation-name:effect;
        animation-duration:2s;
        animation-timing-function: ease-in;
        animation-delay:0;
      }
  
      //Button

      .button{
        background-image:linear-gradient(rgb(241, 241, 241),rgb(145, 145, 145));
        border-radius: 1rem;
        color:$dark;
        padding: 1rem 2rem;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 1rem;
        margin-top:2rem;
        font-weight:bolder;
        transition: background-image 2s;
        animation-name:effect__button;
        animation-duration:3s;
        animation-timing-function:ease-in;

        &:hover{
          background-image:linear-gradient(rgb(255, 255, 255),rgb(212, 212, 212))
        }
    }
  
  }

  @keyframes effect{
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(0);
    }
  }
  
  @keyframes effect__button{
    0% {
        opacity:0;
    }
    100% {
        opacity: 1;
    }
  }
  
  @media screen and (max-width:424px) {

    .hero__section{
        margin-top:0;
        padding:3%;
        color:$purple;
    }
    .hero__h1{
        margin-top:10rem;
        padding:0;
    }

    @include movil{
      color: $color--title;
    }

  }
  
  @media screen and (min-width:425px) and (max-width:768px) {

    .hero__section{
        padding:0;
        margin-top:0;
        color:$purple;
    }
  
    .hero__h1{
        padding:0;
        margin-top:0;
    }

  }