@import "animaciones";

/*section locales*/

.localesRow1{
    background-color:rgb(250, 250, 250);
    height:50vh;
    overflow:hidden;
    margin:2rem;
    border-radius:1rem;
    box-shadow:-5px 5px 8px black;
    animation-name:effect;
    animation-duration:2s;
    animation-timing-function: ease-in;
    animation-delay:3s;
    animation-fill-mode: both;
    transition:transform 0.5s;

}
.locales__cont{
    z-index:12;
    transition: transform 1.25s;
    &:hover{
        transform:scale(1.018);
    }
}
    
.localesRow2{
    background-color:rgb(250, 250, 250);
    height:50vh;
    overflow:hidden;
    margin:2rem;
    border-radius:1rem;
    box-shadow:-5px 5px 8px black;
    animation-duration:2s;
    animation-timing-function: ease-in;
    animation-delay:3s;
    animation-fill-mode: both;
    transition:transform 0.5s;
    animation-name:effect2;
    &:hover{
        transform:translate(0.8rem,-0.8rem);
    }
}



/*imagen*/
.locales__title{
    display:flex;
    justify-content:center;
    font-size:2rem;
    margin:3rem;
    color:rgb(250, 250, 250);
    font-weight:600;
}

.locales__imgCont{
    overflow:hidden;
    padding:0;
    &--pic{
        height:100%;
        object-fit:cover;
        overflow:hidden;
        &-img{
            height:100%;
            width:100%;
            object-fit:cover;
        }
    }
}
    
        


/*texto */
.locales__textCont{
    display:flex;
    justify-content:center;
    align-content:center;
    justify-items:center;
    align-items:center;
    margin-bottom:1rem;
}
.locales__text{
        display:flex;
        flex-direction:column;
        justify-content: center;
        justify-items:center;
        width:60%;
        &--h4{
            justify-self:center;
            margin-bottom:2rem;
            font-size:2rem;
        }
        &--p{
            justify-self:center;
            font-size:1rem;
        }
    }