

/*media para mobile galeria pagina productos*/
@media screen and (max-width:575px){
  .productosSection{
      height:440vh !important;
  }
  .gallery__div--caption{
      display:none;
      opacity:0;
  }
  .gallery__div--caption-price{
      display:none;
      opacity:0;
  }
  .gallery{
      height:180vh;
  }
  .gallerySection{
      height:180vh !important;
  }
  .localesRow1{
      height:100vh !important;
      overflow:hidden;
      justify-content:center;
  }
  .localesRow2{
      height:100vh !important;
      overflow:hidden;
      justify-content:center;
  }

  .contactoSection{
      height:190vh;
  }

  .col-8{
        width:18em;
    }

  .gallerySection{
        height: 800vh;
    }

    .gallery__div{
        height:200vh;
    }

    .nosotros__imgCont{
        display:none;
    }
    .nosotros__imgCont--pic{
        display:none;
    }
    .nosotros__imgCont--pic-img{
        display:none;
    }
}

/*media mobile contenedor seccion nosotros*/
@media screen and (max-width:640px){
  .nosotrosRow{
      height:200vh;
      overflow:hidden;
      justify-content:center;
  }
  
}

/*media queries seccion locales*/
@media screen and (min-width:575px) and (max-width:641px){
  .locales__text--h4{
      font-size:1.5rem;
  }
  .locales__text--p{
      font-size:0.9rem;
  }
}
@media screen and (min-width:576px) and (max-width: 778px){
  .gallerySection{
      height:60vh !important;
  }
  .col-sm-4{
      width:12em;
  }
  .gallery__div--a{
      font-size:1rem;
  }
  .gallery{
    height:60vh;
}
.productosSection{
    height:460vh !important;
}
}
@media screen and(max-width:600px){
  .footer{
      display:flex;
      flex-direction:column;
  }
}

@media screen and (min-width:0px)and(max-width:508px){
    .contactoSection{
        height:130vh !important;
    }
    .productosSection{
        height:600vh !important;
    }
}
@media screen and (min-width:576px) and (max-width:767px){
    .gallery{
        height:120vh;
    }
    .gallerySection{
        height:120vh !important;
    }
    .productosSection{
        height:140vh;
    }
    .gallery__div--caption{
        display:none;
        opacity:0;
    }
    .gallery__div--caption-price{
        display:none;
        opacity:0;
    }
}
@media screen and (min-width:510px) and (max-width:575px){
    .gallery{
        height:120vh;
    }
    .gallerySection{
        height:120vh !important;
    }
}

@media screen and (max-width:780px){
  .nosotros__textCont{
      padding:0;
  }
  .nosotros__text{
      padding:0;
  }
  .nosotros__text--p{
      font-size:0.9rem;
  }
  .nosotros__text--h4{
      margin-bottom:1rem;
      font-size:1.8rem;
  }

  .footer__map{
      justify-self:center;
      align-self:center;
      justify-content:center;
      justify-items:center;
  }


}


@media screen and (min-width:1715px){
  .gallerySection{
      height:35vh;
  }
}
