*{
    margin:0;
    padding:0; 
    box-sizing: border-box;
  }
  
  html{
    font-family: 'Outfit', sans-serif;
  }
  
  body{
    display:grid;
    grid-template-columns:100%;
    grid-template-rows: 10vh,90vh,80vh, 20vh;
    grid-template-areas:"header"
                        "hero__section"
                        "body"
                        "footer";
  }
  
  ul{
    list-style: none;
  }
  
  a{
    text-decoration:none;
  }