$dark: rgb(24,24,24);
$bglight: rgb(250,250,250);
$gradient-transparent: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.12));
$gradient-bg:radial-gradient(circle, #333333 0%, #0e0e0e 88%);
$gradient-dark: linear-gradient(to bottom, rgba(0, 0, 0, 0.021)75, 175, 175), rgba(24, 24, 24, 0.527);