
*{
    margin:0;
    padding:0; 
    box-sizing: border-box;
}

html{
    font-family:Arial, Helvetica, sans-serif;
}

body{
    display:grid;
    grid-template-columns:100%;
    grid-template-rows: 10vh,90vh,80vh, 20vh;
    grid-template-areas:"header"
                        "hero__section"
                        "body"
                        "footer";
}

ul{
    list-style: none;
}

a{
    text-decoration:none;
}

.header{
    background-color:rgb(32, 32, 32);
    display:flex;
    flex-direction:row;
    flex-wrap: nowrap;
    align-items:center;
    justify-content:space-between;
    height:10vh;
    grid-area:header;
}

.header__item{
    display:inline-block;
    padding:1rem;
}

.picture{
    height:100%;
}

.header__logo{
    height:100%;
    width:100%;
    object-fit: scale-down;
}

.main__section{
    background-color:gray;
    background-image:linear-gradient(to bottom, rgba(245, 245, 245, 0.10), rgba(0, 0, 0, 0.86)), url("../assets/bgimage.jpg");
    background-size:cover;
    background-repeat: no-repeat;
    height:90vh;
    width:100%;
    color:rgb(200, 200, 200);
    padding:4rem;
    border:60px;
    grid-area:hero__section;
}



.main__h1{
    font-size:6rem;
    margin-top:16rem;
    animation-name:effect;
    animation-duration:2s;
    animation-timing-function: ease-in;
    animation-delay:0;
}

.button{
    background-image:linear-gradient(rgb(241, 241, 241),rgb(145, 145, 145));
    border-radius: 1rem;
    color: rgb(24, 24, 24);
    padding: 1rem 2rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1rem;
    margin-top:2rem;
    font-weight:bolder;
    transition: background-image 2s;
    animation-name:effect__button;
    animation-duration:3s;
    animation-timing-function:ease-in;
}

.button:hover{
    background-image:linear-gradient(rgb(255, 255, 255),rgb(212, 212, 212))
}

.body{
    grid-area:body;
}

.h1{
    display:flex;
    flex-direction:row;
    justify-content: center;
    padding:6%;
}

.gallery{
    display:grid;
    grid-template-columns:2fr,2fr;
    grid-template-rows:2fr,2fr;
    grid-template-areas: "a b c "
                         "d e f";
    grid-column-gap:0;
    grid-row-gap:8vh;
    justify-content:space-around;
    justify-items:center;
    height:100vh;
    margin-bottom:6%;
    margin-left:6%;
    margin-right:6%;
    margin-top:0;
    overflow:auto;
    font-weight:bold;
    color:ghostwhite;
}


.gallery__item1{
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.12), rgba(0, 0, 0, 0.62)), url("../assets/img.png");
    height:240px;
    width:200px;
    grid-area:a;
    display:flex;
    flex-direction:column;
    align-items:center;
    border-radius:1rem;
    background-size:cover;
    padding-top:100%;
}


.gallery__item2{
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.12), rgba(0, 0, 0, 0.62)), url("../assets/img.png");
    height:240px;
    width:200px;
    grid-area:b;
    display:flex;
    flex-direction:column;
    align-items:center;
    border-radius:1rem;
    background-size:cover;
    padding-top:100%;
}

.gallery__item3{
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.12), rgba(0, 0, 0, 0.62)), url("../assets/img.png");
    height:240px;
    width:200px;
    grid-area:c;
    display:flex;
    flex-direction:column;
    align-items:center;
    border-radius:1rem;
    background-size:cover;
    padding-top:100%;
}

.gallery__item4{
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.12), rgba(0, 0, 0, 0.62)), url("../assets/img.png");
    height:240px;
    width:200px;
    grid-area:d;
    display:flex;
    flex-direction:column;
    align-items:center;
    border-radius:1rem;
    background-size:cover;
    padding-top:100%;
}

.gallery__item5{
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.12), rgba(0, 0, 0, 0.62)), url("../assets/img.png");
    height:240px;
    width:200px;
    grid-area:e;
    display:flex;
    flex-direction:column;
    align-items:center;
    border-radius:1rem;
    background-size:cover;
    padding-top:100%;
}

.gallery__item6{
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.12), rgba(0, 0, 0, 0.62)), url("../assets/img.png");
    height:240px;
    width:200px;
    grid-area:f;
    display:flex;
    flex-direction:column;
    align-items:center;
    border-radius:1rem;
    background-size:cover;
    padding-top:100%;
}



.footer{
    background-color: rgb(32, 32, 32);
    color:ghostwhite;
    display:flex;
    flex-direction:row;
    justify-content: space-between;
    padding:5%;
    grid-area:footer;
}

.footer__nav{
    display:flex;
    flex-direction:column;
}

.footer__redes{
    display:flex;
    flex-direction:column;
}

.footer__map{
    height:100%;
}



@media screen and (max-width:424px) {
    .header{
        flex-direction:column;
        height:24vh;
        justify-content: center;
        align-content: center;
    }
    .header__item{
        display:flex;
        flex-direction:column;
        padding:1%;
    }
    .picture{
        height:20%;
    }
    .main__section{
        margin-top:0;
        padding:3%;
    }
    .main__h1{
        margin-top:10rem;
        padding:0;
    }
    .gallery{
        grid-template-columns:100%;
        grid-template-rows: repeat(6,auto);
        grid-template-areas:"a"
        "b" 
        "c" 
        "d" 
        "e" 
        "f";
    }

    .footer{
        flex-direction:column;
    }
}

@media screen and (min-width:425px) and (max-width:768px) {
    .header{
        justify-content:space-between;
    }
    .header__item{
        padding:0;
    }
    
    .main__section{
        padding:0;
        margin-top:0;
    }

    .main__h1{
        padding:0;
        margin-top:0;
    }
    
    .gallery{
        grid-template-columns:100%;
        grid-template-rows: repeat(6,auto);
        grid-template-areas:"a"
        "b" 
        "c" 
        "d" 
        "e" 
        "f";
    }


    .footer{
        flex-direction:column;
    }
}
