* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Outfit", sans-serif !important;
}


body {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 10vh, 90vh, 80vh, 20vh;
  grid-template-areas: "header" "hero__section" "body" "footer";
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}


.bg-dark {
  background-color:rgb(32, 32, 32) !important;
}



.header {
  background-color: #202020;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
  height: 10vh;
  grid-area: header;
}
.header__item {
  display: inline-block;
  padding: 1rem;
}
.header .picture {
  height: 100%;
}
.header .header__logo {
  height: 100%;
  width: 100%;
  -o-object-fit: scale-down;
     object-fit: scale-down;
}



@media screen and (max-width: 424px) {
  .header {
    flex-direction: column;
    height: 24vh;
    justify-content: center;
    align-content: center;
  }

  .header__item {
    display: flex;
    flex-direction: column;
    padding: 1%;
  }

  .picture {
    height: 20%;
  }
}
@media screen and (min-width: 425px) and (max-width: 768px) {
  .header {
    justify-content: space-between;
  }

  .header__item {
    padding: 0;
  }
}
.hero__section {
  background-color: gray;
  background-image: linear-gradient(to bottom, rgba(245, 245, 245, 0.1), rgba(0, 0, 0, 0.86)), url("../assets/bgimage.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 90vh;
  width: 100%;
  color: #d8d8d8;
  padding: 4rem;
  border: 60px;
  grid-area: hero__section;
}
.hero__section .hero__h1 {
  font-size: 6rem;
  font-weight: 600;
  margin-top: 13rem;
  -webkit-animation-name: effect;
          animation-name: effect;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-timing-function: ease-in;
          animation-timing-function: ease-in;
  -webkit-animation-delay: 0;
          animation-delay: 0;
}
.hero__section .button {
  background-image: linear-gradient(#f1f1f1, #919191);
  border-radius: 1rem;
  color: #181818;
  padding: 1rem 2rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1rem;
  margin-top: 2rem;
  font-weight: bolder;
  transition: background-image 2s;
  -webkit-animation-name: effect__button;
          animation-name: effect__button;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-timing-function: ease-in;
          animation-timing-function: ease-in;
}
.hero__section .button:hover {
  background-image: linear-gradient(white, #d4d4d4);
}

.hero__subtitle{
  color:rgb(236, 236, 236);
  font-size:1rem;
  margin-right: 8rem;
  padding-right: 8rem;
  
  -webkit-animation-name: effect;
          animation-name: effect;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-timing-function: ease-in;
          animation-timing-function: ease-in;
  -webkit-animation-delay: 0;
          animation-delay: 0;

}
@-webkit-keyframes effect {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes effect {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}
@-webkit-keyframes effect__button {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes effect__button {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@media screen and (max-width: 424px) {
  .hero__section {
    margin-top: 0;
    padding: 3%;
    color: #470279;
  }

  .hero__h1 {
    margin-top: 10rem;
    padding: 0;
  }

  .hero__subtitle{
    color:rgb(236, 236, 236);
    font-size:1rem;
  }
}
@media screen and (min-width: 425px) and (max-width: 768px) {
  .hero__section {
    padding: 0;
    margin-top: 0;
    color: #470279;
  }

  .hero__h1 {
    padding: 0;
    margin-top: 0;
  }
}
.body {
  grid-area: body;
}
.body__h2 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 6%;
  font-weight:800;
}
.body .gallery {
  display: grid;
  grid-template-columns: 2fr, 2fr;
  grid-template-rows: 2fr, 2fr;
  grid-template-areas: "a b c " "d e f";
  grid-column-gap: 0;
  grid-row-gap: 8vh;
  justify-content: space-around;
  justify-items: center;
  height: 100vh;
  margin-bottom: 6%;
  margin-left: 6%;
  margin-right: 6%;
  margin-top: 0;
  overflow: auto;
  font-weight: bold;
  color: ghostwhite;
}
.body .gallery__item1, .body .gallery__item6, .body .gallery__item5, .body .gallery__item4, .body .gallery__item3, .body .gallery__item2 {
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.12), rgba(0, 0, 0, 0.62)), url("../assets/imgRemera.jpg");
  height: 240px;
  width: 200px;
  grid-area: a;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 1rem;
  background-size: cover;
  padding-top: 100%;
  box-shadow:grey 0px 5px 5px 0px;
}


.body .gallery__item2 {
  grid-area: b;
}
.body .gallery__item3 {
  grid-area: c;
}
.body .gallery__item4 {
  grid-area: d;
}
.body .gallery__item5 {
  grid-area: e;
}
.body .gallery__item6 {
  grid-area: f;
}

.main__div{
  display:flex;
  justify-content:space-between;
}

.main__text{
  height:50rem;
  width:40rem;
  overflow:hidden;
  margin:6rem;
  justify-content: center;
  align-content: center;
  justify-items:center;
  align-items: center;
  padding:4rem;
}

.main__text--p{
  justify-self:center;
  align-self: center;
}

.main__picture{
  background-color:tomato;
  height:50rem;
  width:40rem;
  object-fit: cover;
  overflow:hidden;
  margin:6rem;
}

.main__picture--img{
  background-color:tomato;
  height:50rem;
  width:40rem;
  object-fit: cover;
  overflow:hidden;
  justify-self:center;
  align-self: center;
}

.main__title{
  display:flex;
  justify-content:center;
  margin-top: 4rem;
}


.locales__div{
  display:flex;
  justify-content:space-between;
}

.locales__text{
  display:flex;
  height:20rem;
  width:40rem;
  overflow:hidden;
  margin: 6rem;
  justify-items:center;
  align-items: center;
  padding:4rem;
  border: solid rgb(116, 116, 116, 0.60);
  border-radius:1rem;
}

.locales__text--p{
  justify-self:center;
  align-self: center;
}

.locales__picture{
  background-color:tomato;
  height:20rem;
  width:40rem;
  object-fit: cover;
  overflow:hidden;
  margin:6rem;
  border-radius: 1rem;
  box-shadow:grey 0px 5px 5px 0px;
}

.locales__picture--img{
  background-color:tomato;
  height:20rem;
  width:40rem;
  object-fit: cover;
  overflow:hidden;
  justify-self:center;
  align-self: center;
}

.locales__title{
  display:flex;
  justify-content:center;
  margin: 4rem;
}


@media screen and (max-width: 424px) {
  .gallery {
    grid-template-columns: 100%;
    grid-template-rows: repeat(6, auto);
    grid-template-areas: "a" "b" "c" "d" "e" "f";
  }
}
@media screen and (min-width: 425px) and (max-width: 768px) {
  .gallery {
    grid-template-columns: 100%;
    grid-template-rows: repeat(6, auto);
    grid-template-areas: "a" "b" "c" "d" "e" "f";
  }
}
.footer {
  background-color: #202020;
  color: ghostwhite;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 5%;
  grid-area: footer;
}
.footer__h4 {
  font-weight: normal;
}
.footer__nav {
  display: flex;
  flex-direction: column;
}
.footer__redes {
  display: flex;
  flex-direction: column;
}
.footer__map {
  height: 100%;
}

@media screen and (max-width: 424px) {
  .footer {
    flex-direction: column;
  }
}
@media screen and (min-width: 425px) and (max-width: 768px) {
  .footer {
    flex-direction: column;
  }
}/*# sourceMappingURL=master.css.map */